
.c-char-wrap {
	padding-right: 5px;
	padding-bottom: 5px;
	margin-left: -5px;
	margin-top: -5px;
}

.c-char {
	display: block;
}
.c-char_main-logo {
	transform: scale(.5);
	transform-origin: bottom;
	opacity: 0;
}

