
.intro {
	position: absolute;
	left: 0;
	top: 0;
	padding: 4vw;
}

.intro-text {
	display: inline-block;

	&--size-xs {
		font-size: 15px;
		line-height: 31px;
		letter-spacing: -0.28px;
	}
	&--size-xl {
		// font-size: 45px;
		// line-height: 53px;
		font-size: 2.5vw;
		line-height: 1.5;
		letter-spacing: -0.85px;
	}
	&--rotated {
		transform: rotate(90deg);
		margin: 12.5vw 4vw 6vw;
	}
	&--uppercase {
		margin: 0;
		margin-left: 50vw;
		text-transform: uppercase;
	}
}

